*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.row{
    display: flex;
    flex-wrap: wrap;

}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}

/* form css start*/

#container{
    width: 350px;
    margin: auto;
}

form{
    padding: 25px;
}

#contact{
    border: 2px solid black;
    border-radius: 10px;
}

#contact input{
    width:297px ;
    height: 50px;
    border-radius: 10px;
    margin: 5px 0px;
    font-size: 20px;
}

#contact button{
    background: yellow;
    font-size: 30px;
    color:black;
    border: none;
    padding: 5px;
    margin: 5px 0px;
}

.password{
    display: flex;
} 

.password #password_eye{
    font-size: 10px;
    color: black;
}
/* form css end */

/* sidebar css start */
nav ul li{
    font-size: 25px;
    color: white;
    width: 150px;
    background: black;
}
/* sidebar css end */


#menu  {
    background: skyblue;
}

#menu li i{
    color: white;
}

#menu ul li{
    background: skyblue;
}

#menu li a{
    color: white;
}
